@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Chakra+Petch:wght@400;500;700&family=Libre+Bodoni:ital,wght@0,400;0,500;1,400&family=Merienda:wght@700&family=Monoton&family=Roboto+Slab:wght@300;700&display=swap');

/* reset browser to basic styles */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden; /* clip the overflow nav(overview) section, so it can only be accessed through slide up/down transition */
}

/* background image style */
html {
    background: url(assets/background.png);
    background-size: cover;
    background-position: center;
}
/* css grid set up */
.container {  
    position:relative;
    display: grid;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    grid-template-rows: 0.2fr 2.3fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". logo ."
      ". form ."
      "nav nav nav";
    z-index: 1; /* stack under the overview section*/
  }

/* where to put the logo of the application */
.logo { 
    position: relative;
    grid-area: logo; 
    z-index: 1;
}
/* adjust the size of the logo */
.logo img{
    width: 30%; 
    height: auto;
}

/* where to put the input form */
.form { 
    position: absolute; /* placed relative to the logo*/
    grid-area: form; 
    margin-top: -14%;
    z-index: 1;
}

/* style the close form button */
#close {
    width: 20%;
    background-color: #E2BF77;
    border-radius: 15px;
    cursor: pointer;
    border: solid 0.5px #ffffff;
}

#close:hover {
    background-color: #ffffff;
}

/* set the position and style of form labels and fields*/
input, label {
    display: block;
    margin-bottom: 5px;
}

label {
    color: #ffffff;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 2px;
}

input {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: solid 0.5px #ffffff;
    background-color: #E2BF77;
    font-family: 'Chakra Petch', sans-serif;
    padding-left: 5px;/*make sure the text won't span out of the rounded border*/
}
/* highlight the border of text input field when selected by the user */
input[type='text']:focus {
    box-shadow: 0 0 0 2px #ffffff;
    outline: solid transparent;
    font-size: 100%;
    padding-left: 5px;/*make sure the text won't span out of the rounded border*/
}

/* specify track and thumb style for the slider */
#rating {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
  }
#rating::-webkit-slider-runnable-track {
    background: #E2BF77;
    border-radius: 5px;
    width: 10px;
    height: 10px;
}

#rating::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    width:25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer; /*change the cursor appearance when dragging the slider thumb*/
    margin-top: -8px;
    background: #ffffff; 
  }  

/* adding hover effect when the user is dragging the rating thumb*/
#rating::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 5px rgba(0,0,0,0.5);
}
#rating:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 5px rgba(0,0,0,0.5);
}
#rating:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 5px rgba(0,0,0,0.5);
}

/* adding description to the start and end of the range track */
#rating::before, #rating::after {
    content: 'Terrible';
    display: inline-block;
    transform: translateY(7px);
    font-size: 14px;
    color:#000000;
}

#rating::after {
    padding: 0;
    padding-right: 5px;;
    content: 'Amazing';
}

/* style and place the rating indicator in the middle of the slider */
.form-row p {
    color: #ffffff;
    font-family: 'Chakra Petch', sans-serif;
    margin: 0px;
    padding: 0px;
    margin-left: 190px;
    padding-left: 134px;
}

/* hide the form by default */
.form-area {
    display: none;
    position: fixed;
    top: 11%;
    left: 22%;
    width: 57%;
    height: 74%;
    background-color: #000000;
    border-radius: 25px;
    outline: solid;
    outline-offset: -15px;
    outline-color: #E2BF77;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;/*center the form container*/
    padding-top: 40px;
}
/* style for the form container */
#form-container {
    width: 80%;
    display: inline-block;
    margin-left: auto;/* keep the form rows in the middle */
    margin-right: auto;
    margin-top: -5px;
    text-align: left;
}

/* multi-selection tag form row appearance*/
.tagify {
    background-color: #E2BF77;
    background-color: none;
    border-radius: 5px;
    width: 101%;
    font-family: 'Chakra Petch', sans-serif;
}

/* tag appearance */
.form-row .tagify__tag {
    --tag-bg: white;
    --tag-border-radius: 15px;
    --tag-hover: rgba(255,255,255,0.5);
    border: none;
    font-family: 'Chakra Petch', sans-serif;
}

/* dropdown list appearance*/
.tags-drop .tagify__dropdown__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    padding: .3em .5em;
    border: 2px solid #ffffff;
    background: #E2BF77;
    margin: .2em;
    font-size: .85em;
    color: black;
    transition: 0s;
    font-family: 'Chakra Petch', sans-serif;
  }
  
.tags-drop .tagify__dropdown__item--active{
color: black;
}
/* drop down list hover effect */
.tags-drop .tagify__dropdown__item:hover{
background: white;
border-color: black;
}

.tags-drop .tagify__dropdown__item--hidden {
    max-width: 0;
    max-height: initial;
    padding: .3em 0;
    margin: .2em 0;
    white-space: nowrap;
    text-indent: -20px;
    border: 0;
}

/* review field style */
textarea {
    width: 98%;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 17px;
    outline: none;
    border: solid 0.5px #ffffff;
    border-radius: 10px;
    background-color:#E2BF77;
    padding: 0 12px 0 12px;
}

textarea:focus {
    box-shadow: 0 0 0 2px #ffffff;
}

/* make the placeholder in the text input field more obivous*/
::placeholder {
    color: rgba(0,0,0,0.5);
}

/* change the color of the submit button when user hover over it */
#submit {
    margin-top: 10px;
    margin-left: 25%;
    cursor: pointer;
    width: 50%;
    transition-duration: 0.5s;
}

#submit:hover {
    background-color: #ffffff;
}

/* position of the button that opens popup form */
#open {
    background-color: transparent;
    border: none;
    padding-top: 40%;
    padding-left: 2%;
}
/* amplify the button when users hover over it */
#open img{
    width: 55%;
    height: auto;
    transition: all 0.4s ease-in-out;
}

#open img:hover {
    transform: scale(1.1,1.1);
}

/* overview sections placement and style */
#overview {
    grid-area: nav;
    background:#000000;
    border-radius: 25px 25px 0 0;
    margin: auto;/* horizontally center the overview section*/
    width: 1400px;
    height: 830px;
    transform: translateY(-158%);
    z-index: 2;
}

/* slide buttons placement */
#slideButton {
    display: flex;
    justify-content: center;
}

/* style and position for interactive buttons used to slide the overview section up and down */
#slideUp, #slideDown{
    border-radius: 15px;
    width: 9%;
    height: 20%;
    margin-top: 15px;
    margin: 10px;
    outline: solid 2px #ffffff;
    border: none;
    background-color: #E2BF77;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 21px;
    transition-duration: 0.4s;
}

#slideUp {
    margin-left: 15px;
}

/* hover effect */
#slideUp:hover {
    background-color: #ffffff;
    outline:#E2BF77;
}

#slideDown:hover {
    background-color: #ffffff;
    outline:#E2BF77;
}

/* style for text in overview section*/
/* create a horizontal scroll list */
#list-container {
    white-space: nowrap; /*display the list content in a single line */
    overflow-x: scroll;
}

ul {
    display: flex;
    flex-direction: row-reverse; /*display the list in a reverse order, so the latest entry appears at the front*/
    justify-content: flex-end; /* display the list from the reversed end */
}
li {
    display: inline-block;
}

/* genre section */
.filmGenre {
    display: inline-block;
    background-color: #E2BF77;
    border-radius: 15px;
    padding: 2px 5px 2px 5px;
    margin: 20px 0 0 0;
    font-size: 20px;
    color: #000000;
}

/* film title */
h2 {
    color:#E2BF77;
    font-family:'Chakra Petch', sans-serif;
    margin: 10px 0 10px 0;
}

/* director & character names */
.names {
    color:#E2BF77;
    font-family:'Chakra Petch', sans-serif;
    font-size: 17px;
    margin: 10px 0 10px 0;
}

/* review text box */
.reviews {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 255px;
    height: 130px;
    border-radius: 10px;
    border: solid 2px #ffffff;
    font-family:'Chakra Petch', sans-serif;
    background-color:#E2BF77;
    padding: 4px;
    overflow: scroll;
}
/* date text */
.date {
    color:#E2BF77;
    font-family:'Chakra Petch', sans-serif;
    margin: 5px 0 5px 0;
}
/* every item in the overview list */
li {
    padding: 0 24px 0 24px;
}
/* delete button */
.delete {
    border-radius: 15px;
    border: solid 2px #ffffff;
    background-color: #E2BF77;
    margin-left: 5em;
    cursor: pointer;
    width: 50%;
    transition-duration: 0.5s;
}

.delete:hover {
    background-color: #ffffff;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:-10px -10px #E2BF77;
    padding: 0;
    width: 210px;
    height: 290px;
    transition: all 0.5s ease-in-out;
}

.image:hover {
    box-shadow: 10px 10px #E2BF77;
}
/* Make the page layout responsive to smaller screen size */
@media only screen and (max-width: 500px) {
    .container {  
        position:relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 70% 20%;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "logo"
          "form"
          "nav";
        z-index: 1; /* stack under the overview section*/
      }
    .logo {
        margin-right: 300px;
    }
    .logo img {
        width: 10%;

    }
}